<div>
  <h1 class="title">Liste de Boxes</h1>
  <a class="button routL" routerLink='/commandes'   style="right: 100px; top: 10px;">Historique de
    commandes</a>
  <a class="button routL" routerLink='/rgpd' style=" right: 20px; top: 10px;"> RGPD </a>
  <div class="columns is-8">
    <div class="column">
      <table class="table">
        <thead class="has-text-weight">
          <th>Image</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Nombre de pieces</th>
          <th></th>
        </thead>
        <tr *ngFor="let box of sushi;index as i">
          <td><img src="assets/images/{{box.image}}.webp"></td>
          <td>{{ box.nom }} </td>
          <td>{{ box.prix }}€</td>
          <td>{{ box.pieces }}</td>
          <td>
            <div class="content">
              <div><button class="button" (click)="ajoutPanier(box)"> Ajouter au panier</button></div>
              <div><button class="button" (click)="infoOn(i)">Information</button></div>
            </div>
          </td>
          <td>
            <div class="">
              <div class=""></div>
              <div class="">
                <div *ngIf="getInfo(i)" class="columns is-narrow">
                  <div class="column is-four-fifths">
                    <ul>
                      <strong>Saveur : </strong>
                      <li>{{box.saveurs}}</li>
                      <div class="has-text-weight-semibold">Nom des composants :</div>
                      <li *ngFor="let compo of box.composition"> {{compo.nom}}, {{compo.quantite}}</li>
                    </ul>

                  </div>
                  <a class="button is-small" (click)="infoOff(i)">X</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="column is-one-quarter">
      <div class="box" style="background-color: #fdebd0;">
        <h2>Panier</h2>
        <div>
          <table class="table is-striped">
            <thead class="has-text-weight">
              <th>Nom</th>
              <th>Quantite</th>
              <th>Prix</th>

            </thead>

            <tr *ngFor="let ligne of panier">
              <td>{{ligne.nom}}</td>
              <td>
                <div class="columns">
                  <div class="column"><button class="button" (click)="moinsPanier(ligne)"> - </button></div>
                  <div class="column">{{ligne.quantite}}</div>
                  <div class="column"><button class="button" (click)="plusPanier(ligne)"> + </button></div>
                </div>
              </td>
              <td>{{ligne.prix*ligne.quantite}}</td>
            </tr>
          </table>
          <div class="columns">
            <div class="column is-5"><button class="button" (click)="valideCommande()"> Commander</button></div>
            <div class="column"><button class="button" (click)="clearPanier()"> clear</button></div>
          </div>
        <strong>Prix : {{prixTotal()}} €</strong>
        </div>
      </div>
    </div>
  </div>
</div>