- Réalisation des *🔥*mentions légales*🔥* (dans l'objectif de conformité a RGPD),
<br>go maitre les liens
<br>
<aside>
    🔥 

</aside>
<div class="content" style="text-align: center;">
    <div class="#test">
        <h1> Mentions Légales</h1>

        <strong> Editeur</strong>

        <div>**Sushi SHOP**🔥🔥🔥🔥🔥🔥🔥🔥🔥 

            N° Siret : 169 442 910 00686

            Siège social : Sushi SHOP

            PELTIER ADRIEN
            
            85, Impasse Bernard Michel

            53643 Lemaitre-les-Brains

            FRANCE

            Pour nous contacter : [maggie.bourgeois@boulay.fr](mailto:maggie.bourgeois@boulay.fr)
        </div>
        <strong> Hébergeur</strong>

        <div> Gandi SAS

            63-65 Boulvard Messéna

            75013 Paris

            France

            Tel +33 (0) 1 70.37.76.61

            ---
        </div>
       Informatique et libertés
        <br>
        <strong> Informations personnels collectées</strong>
        <div> En France, les données personnelles sont notamment protégées par [la loi n° 78-17 du 6 janvier
            1978](https://legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000886460), la loi n° 2004-801 du 6 août
            2004,
            l’article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.

            En tout état de cause Sushi Shop ne collecte des informations personnelles relatives à l'utilisateur (ID de
            commande, contenu de la commande) que pour le besoin du service proposé. L'utilisateur fournit ces
            informations
            en
            toute connaissance de cause.
        </div>
        <strong> Analyse et confidentialité</strong>
        <div>
            En vue de maintenir et protéger le site d'individu malveillants, nous gardons un log du traffic de celui-ci.
            Les
            données recueillies (adresse IP, User-Agent...) et conservées pour une durée de 6 mois. Elles ne sont pas
            cédées
            à
            des tiers ni utilisées à d'autres fins.
        </div>
        <strong> Rectification des informations nominatives collectées</strong>
        <div>
            Conformément aux dispositions de l’article 34 de la loi n° 48-87 du 6 janvier 1978, l’utilisateur dispose
            d’un
            droit
            de modification des données nominatives collectées le concernant. Pour ce faire, l’utilisateur envoie à
            Sushi
            Shop:

            - un courrier électronique en utilisant le formulaire de contact
            - un courrier à l’adresse du siège de l’association (indiquée ci-dessus) en indiquant son nom ou sa raison
            sociale,
            ses coordonnées physiques et/ou électroniques, ainsi que le cas échéant la référence dont il disposerait en
            tant
            qu’utilisateur du site Sushi Shop.

            La modification interviendra dans des délais raisonnables à compter de la réception de la demande de
            l'utilisateur.

            ---</div>
        <strong>
             Limitation de responsabilité</strong>
        <div>
            Ce site comporte des informations mises à disposition par des communautés ou sociétés externes ou des liens
            hypertextes vers d'autres sites qui n'ont pas été développés par Sushi Shop. Le contenu mis à disposition
            sur le
            site est fourni à titre informatif.

            L’existence d’un lien de ce site vers un autre site ne constitue pas une validation de ce site ou de son
            contenu. Il
            appartient à l’internaute d’utiliser ces informations avec discernement et esprit critique.

            La responsabilité de Sushi Shop ne saurait être engagée du fait des informations, opinions et
            recommandations
            formulées par des tiers.

            Sushi Shop ne pourra être tenu responsable des dommanges directs et indirects causés au matériel ne
            répondant
            pas
            aux spécifications techniques requises, soit de l'apparition d'un bug ou d'une incompatibilité.

            Sushi Shop ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte
            de
            marché ou perte d’une chance) consécutifs à l’utilisation du site.
        </div>
        <div class="">
            <strong> Limitations contractuelles sur les données techniques</strong>

            <div>Sushi Shop ne pourra être tenue responsable de dommages matériels liés à l’utilisation du site. De
                plus,
                l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de
                virus
                et avec un navigateur de dernière génération mis-à-jour.</div>


            <div> <strong> Vos droits</strong>

                <div> Nous tenons à vous assurer que vous êtes pleinement conscient de tous vos droits en matière de
                    protection
                    des données. Chaque utilisateur a droit aux éléments suivants:
                </div>
                <div class="content is-normal">
                    <div class="content">
                        <ol type="1">
                            <li>**Droit d'accès**</li>
                            <p> - Vous avez le droit de demander des copies de vos données personnelles.</p>

                            <li>**Droit de rectification** </li>
                            <p>- Vous avez le droit de demander que nous corrigions
                                toute information que vous
                                jugez
                                inexacte. Vous avez également le droit de demander que nous remplissions les
                                informations
                                que vous jugez
                                incomplètes.</p>

                            <li> **Droit d'effacement** </li>
                            <p>- Vous avez le droit de demander que nous effacions vos données personnelles, sous
                                certaines conditions.</p>

                            <li>**Droit de restreindre le traitement**</li>
                            <p>- Vous avez le droit de demander que nous restreignions le traitement
                                de
                                vos données personnelles, sous certaines conditions.</p>

                            <li>**Droit de s'opposer au traitement**</li>
                            <p>- Vous avez le droit de vous opposer à notre traitement de vos données
                                personnelles, sous certaines conditions.</p>

                            <li>**Droit à la portabilité des données**</li>
                            <p>- Vous avez le droit de demander que nous transférions les données
                                que
                                nous avons collectées à une autre organisation, ou directement à vous, sous certaines
                                conditions.</p>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>