<body id="rgpd"><section class="section">
    <div>
        <h1>ARTICLE 1</h1>
        L'EDITEUR
        Le site www.sushishop.fr est édité par Sushi Shop Management, Numéro de TVA intracommunautaire : FR 95
        493549349, immatriculée au Registre du Commerce et des Sociétés de Paris sous le numéro 493 549 349, dont le
        siège social est situé 13 cours de Valmy - 92977 La Défense Cedex - 01 45 24 35 13
    </div>
</section>
<section class="section">
    <div>
        <h2>ARTICLE 2</h2>
        ACCES ET CONTENU
        L’accès du site web est libre. L’utilisateur du site reconnaît disposer de la compétence et des moyens
        nécessaires pour accéder et utiliser ce site. L’utilisateur reconnaît avoir vérifié que la configuration
        informatique utilisée ne contient aucun virus et qu’elle est en parfait état de fonctionnement. L’éditeur
        met
        tout en œuvre pour offrir aux utilisateurs des informations ou des outils disponibles et vérifiés mais ne
        sauraient être tenus pour responsables des erreurs, d’une absence de disponibilité des fonctionnalités ou de
        la
        présence de virus ou autres infections logiques sur leur site. Le site est accessible 24 heures sur 24 et 7
        jours. L’éditeur ne saurait toutefois être tenu pour responsable des discontinuités du site et de ses
        services,
        qu’elles soient volontaires ou non. En outre, pour des raisons de maintenance, l’éditeur pourra interrompre
        le
        site et s'efforcera d'en avertir préalablement les utilisateurs. Les informations fournies le sont à titre
        indicatif et ne sauraient dispenser l’utilisateur d’une analyse complémentaire et personnalisée.
        L’utilisateur
        s’engage à n’utiliser les services ainsi que l’ensemble des informations auxquelles il pourra avoir accès
        que
        pour des raisons personnelles et dans un but conforme à l’ordre public, aux bonnes mœurs et aux droits des
        tiers. L’utilisateur ne commet aucun acte pouvant mettre en cause la sécurité informatique du site ou du
        système
        informatique des autres utilisateurs. L’utilisateur ne doit pas interférer ou interrompre le fonctionnement
        normal du site.
        <br>
    </div>
</section>
<section class="section">
    <div>
        <h3>ARTICLE 3</h3>
        PROPRIETE INTELLECTUELLE
        Le site pris dans sa globalité, ainsi que chacun des éléments qui le compose pris indépendamment, notamment
        les
        programmes et développements spécifiques et les contenus incluant des données, textes, images fixes ou
        animées,
        logotypes, sons, graphiques, fichiers, sont la propriété exclusive de l’éditeur ou de leurs partenaires qui
        leur ont
        concédé une licence. Toute représentation totale ou partielle par quelque personne que ce soit, sans
        l’autorisation
        expresse de l’éditeur, est interdite et constituerait une contrefaçon sanctionnée par les articles du Code
        de la
        propriété intellectuelle. Les bases de données figurant sur le site sont protégées par le Code de la
        propriété
        intellectuelle et est sanctionnée toute extraction ou réutilisation qualitativement ou quantitativement
        substantielle du
        contenu des bases de données. Les marques et les logotypes figurant sur le site sont protégés par le Code de
        la
        propriété intellectuelle. Toute reproduction, imitation ou usage, total ou partiel, de ces signes
        distinctifs sans
        l’autorisation expresse et en violation des interdictions prévues au Code de la propriété intellectuelle
        engage la
        responsabilité de leur auteur. Les autres signes distinctifs, notamment les dénominations sociales, noms
        commerciaux,
        enseignes, noms de domaine reproduits sur le site sont la propriété de l’éditeur ou de tiers et toute
        reproduction sans
        autorisation expresse est susceptible d’engager la responsabilité de son auteur.
    </div>
</section>

<section class="section">
    <h4>ARTICLE 4</h4>
    <div>LIENS
        Les utilisateurs et visiteurs ne peuvent pas mettre en place un lien en direction du site sans l’autorisation
        expresse
        et préalable de l’éditeur. En aucun cas, cette autorisation ne pourra être qualifiée de convention implicite
        d’affiliation. En toute hypothèse, les liens renvoyant au site devront être retirés à première demande.
        L’éditeur du
        site se réserve la possibilité de mettre en place des liens donnant accès à des pages web autres que celles de
        son
        site.
        Les utilisateurs sont formellement informés que le site auxquels ils peuvent accéder par l’intermédiaire de tels
        liens
        n’appartiennent pas à l’éditeur. L’éditeur du site ne saurait être responsable de l’accès par les utilisateurs
        via de tels liens en direction d’autres ressources présentes sur le réseau internet, ni du contenu des
        informations
        fournies sur ce site au titre de l’activation du lien.
    </div>
</section>

<section class="section">
    <h5>ARTICLE 5</h5>
    <div>
        MODIFICATION NOTICE LEGALE
        L’éditeur se réserve le droit de modifier et d’actualiser la présente notice légale à tout moment et sans
        préavis.
        L’utilisateur est donc invité à la consulter régulièrement.</div>
</section>